body {
	font-family: 'Segoe UI';
	font-size: 12pt;
	}
.centered {
	text-align: center;
	}
#container {
	margin-top: 3%;
	margin-right: 14%;
	margin-left: 14%;
	background-color: whitesmoke;
	display: block;
	border: 2px solid orange;
	border-radius: 4px;
	}
.large {
	font-size: 18pt;
	}
p.text{ 
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
}